body{
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

a{
    color: green;
    text-decoration: none;
    transition: 0.5s 0.2s;
}


a:link{
    color: blue;
    text-decoration: none;
}
a:visited{
    color: crimson;
    text-decoration: double;
}
a:hover{
    color: red;
    text-decoration: underline;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    transition: 0.3s;
}

a:active{
    color: black;
    opacity: 0.3;
}

div.menu{
    border: 1px solid green;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover{
    background-color: #ffffff30;
    box-shadow: 0 0 15px #00000030;
}

h1.h1style{
    border: 1px solid green;
    border-radius: 5px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    

}
h1.h1style:hover{
    background-color: #ffffff30;
    box-shadow: 0 0 15px #00000030;
}

footer{
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;


}

main{
    margin: 10px 20px 45px;
}

.cards{
    display: flex;
}
.cards1{
    display: flex;
}
.card1{
    
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: white;
    border-radius: 30px;
    margin: 10px;
}
.card2{
    
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: white;
    border-radius: 30px;
    margin: 10px;
}

.card3{
    
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: white;
    border-radius: 30px;
    margin: 10px;
}

.card4{
    
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: white;
    border-radius: 30px;
    margin: 10px;
}
.card5{
    
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: white;
    border-radius: 30px;
    margin: 10px;
}

.game {
    background-color: #1abc9c; 
    border-radius: 20px; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    width: 300px; 
    margin: 10px auto; 
    text-align: center;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.help {
    background-color: #16a085;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px auto;
    width: 300px;
    text-align: center;
    color: white;
}

.help ul {
    list-style: none; 
}

.help li {
    padding: 5px 0; 
}

.color{
    border: 1px solid black;
    height: 70px;
    width: 250px;
    text-align: center;
    padding-top: 15px;
    background-color: yellow;
    color: black;
    transition: 0.5s;
}

.filter{
    background-color: #adf1e4;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    width: 300px; 
    margin: 10px auto; 
    text-align: center;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;

}


