body{
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

a{
    color: green;
    text-decoration: none;
    transition: 0.5s 0.2s;
}


a:link{
    color: blue;
    text-decoration: none;
}
a:visited{
    color: crimson;
    text-decoration: double;
}
a:hover{
    color: red;
    text-decoration: underline;
    background-color: white;
    transition: 0.3s;
}

a:active{
    color: black;
    opacity: 0.3;
}